@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

:root {
  --font-display: Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;

  --color-app-text: light-dark(#000000, #ffffff);
  --color-app-background: light-dark(#ffffff, #000000);
  --color-app-background-element: light-dark(#f0f0f3, #212225);
  --color-app-background-selected: light-dark(#e0e1e6, #2e3135);
  --color-app-text-secondary: light-dark(#60646c, #b0b4ba);
  --color-app-link: #3c87f7;
}

@media ios {
  :root {
    --font-mono: ui-monospace;
    --font-serif: ui-serif;
    --font-sans: system-ui;
    --font-rounded: ui-rounded;
  }
}

@media android {
  :root {
    --font-mono: monospace;
    --font-rounded: normal;
    --font-serif: serif;
    --font-sans: normal;
  }
}

@layer theme {
  @theme {
    --font-sans: var(--font-display);
    --font-mono: var(--font-mono);
    --font-rounded: var(--font-rounded);
    --font-serif: var(--font-serif);

    --color-app-text: var(--color-app-text);
    --color-app-background: var(--color-app-background);
    --color-app-background-element: var(--color-app-background-element);
    --color-app-background-selected: var(--color-app-background-selected);
    --color-app-text-secondary: var(--color-app-text-secondary);
    --color-app-link: var(--color-app-link);
  }
}

[data-list-menu] {
  opacity: 0;
  pointer-events: none;
}

[data-list-row]:hover [data-list-count],
[data-list-row][data-options-open='true'] [data-list-count] {
  opacity: 0;
}

[data-list-row]:hover [data-list-menu],
[data-list-row][data-options-open='true'] [data-list-menu] {
  opacity: 1;
  pointer-events: auto;
}
